*{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	display: table;
}

a {
	text-decoration: none;
	color: rgb(230, 230, 230);
}

/*--------------------------------------------------*
 * 						HEADER						*
 *--------------------------------------------------*/
header{
	background-color: rgb(0, 0, 0);
	border-bottom: 2px solid rgb(130, 130, 130);
	color: rgb(230, 230, 230);
}

img {
	border-bottom: 1px solid rgb(130, 130, 130);
}

.flexbox{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#menuicon{
	order: 1;
	flex-basis: 15%;
	margin-left: 1%;
	padding: 0 1%;
	
	font-size: 1.8rem;
	font-weight: bold;
}

#username{
	order: 2;
	text-align: right;
	margin-right: 1%;
	padding: 0 1%;
}

nav {
	text-align: left;
	margin-bottom: 1%;
}

nav ul{
	display: none;
	margin-top: 1%;
}

nav ul.open{
	display: block;
}

nav ul li{
	padding: 1%;
	background-color: rgb(100, 100, 100);
	border-top: 1px solid rgb(170, 170, 170);
}

nav ul li a{
	display: block;
	padding: 1% 0;
	
	font-weight: bold;
	text-decoration: none;
}

/*--------------------------------------------------*
 * 						CONTENT						*
 *--------------------------------------------------*/
section{
	margin: 2% 0;
	padding: 1%;
}

h1{
	margin-bottom: 4%;
}

label {
	font-weight: bold;
}

input {
	height: 40px;
	margin-top: 1%;
	margin-bottom: 4%;
}

input[type="submit"] {
	border: 1px solid rgb(170, 170, 170);
	font-weight: bold;
	text-transform: uppercase;
}

output {	
	padding: 2%;
	
	border-radius: 5px;
	border: 1px solid rgb(0, 0, 0);
	font-weight: normal;
}

.success{
	border-color: rgb(80, 179, 87);
	background-color: rgba(80, 179, 87, .3);
	
}

.failure{
	border-color: rgb(255, 117, 117);
	background-color: rgba(255, 177, 117, .3);
}

/*--------------------------------------------------*
 * 						FOOTER						*
 *--------------------------------------------------*/
footer{
	padding: 1%;
	font-size: .8rem;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}