html {
	min-height: 100%;
}

body {
  	/* Margin bottom by footer height */
 	margin-bottom: 60px;
	/* Padding top by navbar height */
	padding-top: 50px;
}

header {
	min-width: 100%;
	min-height: 150px;
	
	border-bottom: 1px solid rgb(130, 130, 130);
	background-image: url('../img/banner_small.png');
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	padding-left: 1%;
	
	background-color: #f5f5f5;
}
